// Colors
$white: #fff;
$black: #000;
$blue:#2769D6;
$gray: #d3d3d3;
$cyan: #38DDCE;
$yellow:#FEFFC3;
$yellow02:#f6ecdc;
$black02:#354451;
$blue02:#3C9DFF;
$blue03:#64AFE5;
$blue04:#66C0E6;
$blue05: #47AEDB;
$blue06: #457ED7;
$gray02: #efefef;
$gray03: #838382;
$gray04:#707070;
$gray05:#9B9B9B;
$gray06:#5C5C5C;
$white02:#EFF6FE;
$white03:#F1F3F5;
$white04:#F8F8F8;
$wheat: rgba(#fadfab7a,.5);


$default-font-size: 1.6rem;

$font-noto-serif: "Noto Serif JP", serif;
$font-noto-sans: "Noto Sans JP", sans-serif;
$font-hiragino: "hiragino-kaku-gothic-pron", sans-serif;

$font-primary: "Monserrat",serif;

$default-mqMax-width: 991px;
$default-mqMin-width: 992px;
$default-mqMinMax-min-width: 992px;
$default-mqMinMax-max-width: 1920px;