.header-bnr.hidden-pc
    img.header-bnr__img02(src=`${assetsPath}/images/common/header-bnr_img01.png`, alt="")
    .header-bnr__info
        .header-bnr__img-wrap.img
            img.img__main(src=`${assetsPath}/images/top/apply-bnr_img.jpg`, alt="")
            .header-bnr__content
                img.header-bnr__logo(src=`${assetsPath}/images/top/apply-bnr_logo.png`, alt="")
                p.header-bnr__ttl 新しい自分に出会う準備はできていますか？<br>自分を変える挑戦を今、スタートさせよう！
                p.header-bnr__apply Apply
                .header-bnr__wrap
                    p.header-bnr__txt まずはLCPを知
                    a.header-bnr__link(href="#")
                        p.header-bnr__txt まずは無料体験に申し込む
                        .btn__arrow
                            img(src=`${assetsPath}/images/common/arrow-blue_sp.png`, alt="")